@model FinalProject.Models.Summary

@{
    ViewBag.Title = "Details";
}

@Scripts.Render("~/bundles/jquery")


    <div id="notification">
        <h3>Patient Details</h3>
        <hr>
        <p><b>Patient Id: </b> @Html.DisplayFor(model => model.userID)</p>
        <p><b>Reported On: </b> @Html.DisplayFor(model => model.timeStamp)</p>
        <p><b>Summary </b><br /> @Html.DisplayFor(model => model.content)</p>

<hr />
    <h3>Diagnosis</h3>
    <form action="/Doctor/Done" method="POST" name="myForm" id="myForm">
        <div class="form-group">
            <select id="Diagnosis">
                <option value="arthritis">Arthritis</option>
                <option value="strepthroat">Strep Throat</option>
                <option value="allergy">Allergy</option>
            </select>
        <br />
        <input class="btn btn-default" value="Submit" type="submit">

        </div>

    </form>
 
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

