@model FinalProject.Models.Summary

@{
    ViewBag.Title = "Details";
}

@Scripts.Render("~/bundles/jquery")


<div id="notification">
    <h3>Patient Details</h3>
    <hr>
    <p><b>Patient Id: </b> @Html.DisplayFor(model => model.userID)</p>
    <p><b>Reported On: </b> @Html.DisplayFor(model => model.timeStamp)</p>
    <p><b>Summary </b><br /> @Html.DisplayFor(model => model.content)</p>

    <hr />
    <h3>Diagnosis</h3>
    <form action="/Doctor/Done" method="POST" name="myForm" id="myForm">
        <div class="form-group">
            <select id="Diagnosis">
                <option value="Diabetes">Diabetes</option>
                <option value="Back pain">Back pain</option>
                <option value="Anxiety">Anxiety</option>
                <option value="Obesity">Obesity</option>
                <option value="Respiratory problems">Respiratory problems</option>
                <option value="Pain in joint">Pain in joint</option>
                <option value="Depressive disorder">Depressive disorder</option>
                <option value="Bronchitis">Bronchitis</option>
                <option value="Asthma">Asthma</option>
                <option value="Nail fungus">Nail fungus</option>
                <option value="Urinary tract infection">Urinary tract infection</option>
                <option value="Allergic response">Allergic response</option>
            </select>
            <br />
            <input class="btn btn-default" value="Submit" type="submit">

        </div>


    </form>


    <!-- Trigger/Open The Modal -->
    <button id="myBtn" style="margin-bottom: 10px">Get Statistics</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="medical-diagnoses-chart" style="width: 900px; height: 500px;"></div>
        </div>

    </div>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var rawData = getRawData();
            var parsedData = parseRawData(rawData);
            var data = google.visualization.arrayToDataTable(parsedData);

            /*var data = google.visualization.arrayToDataTable([
                ['Diagnosis', 'Count'],
                ['Diabetes', 21],
                ['Back pain', 40],
                ['Anxiety', 120],
                ['Obesity', 160],
                ['Respiratory problems', 77],
                ['Pain in joint', 56],
                ['Depressive disorder', 136],
                ['Bronchitis', 23],
                ['Asthma', 79],
                ['Nail fungus', 12],
                ['Urinary tract infection', 46],
                ['Allergic response', 25]
            ]);*/

            var options = {
                title: 'Medical Diagnoses Statistics',
                pieHole: 0.4,
                sliceVisibilityThreshold: .05, // TH % - below that it will be agregated as 'Other'
                width: '95%',
                height: '95%',
                chartArea: {
                    height: "80%",
                    width: "100%"
                },

            };

            var chart = new google.visualization.PieChart(document.getElementById('medical-diagnoses-chart'));
            chart.draw(data, options);
        }
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    
    function getRawData() {
        var url = "http://127.0.0.1:8080/getStatistics";
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", url, false);
        xhttp.send();
        return JSON.parse(xhttp.responseText);
    }
    function parseRawData(rawData) {
        var list = [['Diagnosis', 'Count']];
        Object.keys(rawData).forEach(function(key){
            //console.log(k + ' - ' + rawData[key]);
            list = list.concat([key, rawData[key]);
        });
        console.log(JSON.stringify(list)); //DEBUG
        return list;
    }
</script>

<script>

    $('#myForm').submit(function (e) {

            e.preventDefault();

        var userID = '@Model.userID';
        var sessionID = '@Model.sessionID';
        userID = userID.trim();
        var token = "ABRAKADABR@1237";
        var formData = document.getElementById("Diagnosis").value;
        var postData = { "token": token, "userID": userID, "sessionID": sessionID, "diagnosis": formData };

        var Data= JSON.stringify(postData);
        console.log(Data);

            $.ajax({
                type: "POST",
                url: "//127.0.0.1:8080/update",
                data: Data,
                success: function (data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    window.location.href = "/Patients/Done";
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
                dataType: "json",
                contentType: "application/json"
            });
    });

    </script>
